@use "src/styles/vars";

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.basketWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.basketInfo {
  $fs: 1.5rem;

  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  padding-top: 20px;
  margin-top: 20px;


  border-top: 2px solid var(--color-dark);

  font-size: $fs;

  &__price{

  }

  &__btn {
    align-self: center;
    display: inline-block;
    width: max-content;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: $fs;

    background: var(--color-cyan);
    color: var(--color-white);
  }
}
